@import "tailwindcss";

@theme {
  --color-primary: #f8ca11;
  --color-primary-dark: #dca308;
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;

  --animate-fade-in-up: fade-in-up 1s ease-out forwards;

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  margin: 0;
  font-family: var(--font-sans);
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}